.elementor-kit-60{--e-global-color-primary:#1a56ff;--e-global-color-secondary:#18004b;--e-global-color-text:#000;--e-global-color-accent:#030314;--e-global-color-c4775d7:#70798b;--e-global-color-d7da202:#081420;--e-global-typography-primary-font-family:"Roboto";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500}.elementor-section.elementor-section-boxed>.elementor-container{max-width:1140px}.e-con{--container-max-width:1140px}.elementor-widget:not(:last-child){margin-block-end:20px}.elementor-element{--widgets-spacing:20px 20px}{}h1.entry-title{display:var(--page-title-display)}@media(max-width:1024px){.elementor-section.elementor-section-boxed>.elementor-container{max-width:1024px}.e-con{--container-max-width:1024px}}@media(max-width:767px){.elementor-section.elementor-section-boxed>.elementor-container{max-width:767px}.e-con{--container-max-width:767px}}
/*
     FILE ARCHIVED ON 23:12:27 Mar 27, 2026 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:13:42 Aug 24, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.405
  exclusion.robots: 0.051
  exclusion.robots.policy: 0.041
  esindex: 0.006
  cdx.remote: 66.209
  LoadShardBlock: 288.689 (3)
  PetaboxLoader3.resolve: 81.176 (4)
  PetaboxLoader3.datanode: 256.288 (4)
  load_resource: 83.544
*/