.elementor-55 .elementor-element.elementor-element-9be55cf{margin-top:40px;margin-bottom:40px}.elementor-55 .elementor-element.elementor-element-c8e5bc9 small{color:var(--e-global-color-c4775d7);font-size:16px;font-weight:400;letter-spacing:.32px}.elementor-55 .elementor-element.elementor-element-a3e9479{--grid-template-columns:repeat(0,auto);--grid-column-gap:5px;--grid-row-gap:0px}.elementor-55 .elementor-element.elementor-element-a3e9479 .elementor-widget-container{text-align:center}.elementor-55 .elementor-element.elementor-element-a3e9479 .elementor-social-icon{background-color:#000}.elementor-55 .elementor-element.elementor-element-a3e9479 .elementor-icon{border-radius:40px}@media(max-width:767px){.elementor-55 .elementor-element.elementor-element-c8e5bc9{text-align:center}.elementor-55 .elementor-element.elementor-element-c8e5bc9 small{font-size:14px}}
/*
     FILE ARCHIVED ON 23:12:27 Mar 27, 2026 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:13:55 Aug 24, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.362
  exclusion.robots: 0.049
  exclusion.robots.policy: 0.04
  esindex: 0.006
  cdx.remote: 71.787
  LoadShardBlock: 303.341 (3)
  PetaboxLoader3.datanode: 244.58 (4)
  load_resource: 230.128
  PetaboxLoader3.resolve: 100.239
*/