.elementor-55 .elementor-element.elementor-element-9be55cf{margin-top:40px;margin-bottom:40px}.elementor-55 .elementor-element.elementor-element-c8e5bc9 small{color:var(--e-global-color-c4775d7);font-size:16px;font-weight:400;letter-spacing:.32px}.elementor-55 .elementor-element.elementor-element-a3e9479{--grid-template-columns:repeat(0,auto);--grid-column-gap:5px;--grid-row-gap:0px}.elementor-55 .elementor-element.elementor-element-a3e9479 .elementor-widget-container{text-align:center}.elementor-55 .elementor-element.elementor-element-a3e9479 .elementor-social-icon{background-color:#000}.elementor-55 .elementor-element.elementor-element-a3e9479 .elementor-icon{border-radius:40px}@media(max-width:767px){.elementor-55 .elementor-element.elementor-element-c8e5bc9{text-align:center}.elementor-55 .elementor-element.elementor-element-c8e5bc9 small{font-size:14px}}
/*
     FILE ARCHIVED ON 23:12:27 Mar 27, 2026 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:41:44 Aug 24, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.41
  load_resource: 78.966
  PetaboxLoader3.resolve: 44.435
  PetaboxLoader3.datanode: 16.516
*/